@charset "utf-8";

/* Paleta de colores
Rojo: #ed1c24
Naranja: #f15a29
Amarillo: #f7941d
Blanco: #fff
Aux. 1 Café: #603913
Aux. 2 Gris Oscuro: #58595b
Whatsapp: #25d366
*/
body {
    margin: 0% 0% 0% 0%;
    font-family: 'Titillium Web', sans-serif;
}

#d-01 {
    width: 100%;
    height: 600px;
    background-image: url(/img/background-contacto.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#d-01 h1 {
    font-size: 50px;
    color: #fff;
    margin-top: 15%;
    margin-left: 10%;
}

#d-01 button {
    line-height: 40px;
    background-color: #ed1c24;
    font-size: 13px;
    width: 10%;
    margin-left: 10%;
    border: none;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1.5px;
}

#d-01 button:hover {
    background-color: #25d366;
    transition: .5s;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75);
}
@media only screen and (max-width:1100px) {
    #d-01 button {
        width: 13%;
    }
}

@media only screen and (max-width:900px) {
    #d-01 button {
        width: 16%;
    }
}

@media only screen and (max-width:700px) {
    #d-01 button {
        width: 19%;
    }
}
#main-sec02 {
    width: 80%;
    height: 330px;
    margin-left: 15%;
    border-bottom: 1px groove #f2f2f2;
}

#main-sec02 h2 {
    font-size: 30px;
    font-size: 800;
    text-align: left;
    letter-spacing: 2px;
    color: #ed1c24;
}

#main-sec02 .main-subtittle {
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 2px;
}

#main-sec02 li {
    list-style: none;
    font-size: 15px;
}

#main-sec02 p {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 2px;
}

/* */
main {
    height: 550px;
}

#d-cont {
    width: 80%;
    height: 550px;
    margin-top: 0%;
    margin-left: 10%;
    border-bottom: 1px groove #f2f2f2;
}
#d-cont a{
    color:#000;
    text-decoration: none;
}
#d-cont .li-cont-date:hover{
    color:#ed1c24;
    font-weight: 600;
    transition: .5s;
    padding-left: 10px;
}

.art-cont-00 {
    float: left;
    width: 50%;
    height: 550px;
    margin-top: 0%;
}

.art-cont-00 li {
    list-style: none;
    width: 70%;
    margin-left: 15%;
}

.art-cont-00 .li-cont-tittle {
    font-size: 40px;
    letter-spacing: 1px;
    line-height: 50px;
    font-weight: bold;
    margin-top: 0%;
    color: #ed1c24;
}

.art-cont-00 .li-cont-subtittle {
    font-size: 24px;
    font-weight: bold;
    line-height: 60px;
    margin-top: 5%;
    color: #f15a29;
}

.art-cont-00 .li-cont-date {
    font-size: 18px;
    letter-spacing: 1px;
}
.art-cont-00 .li-cont-dates {
    font-size: 18px;
    letter-spacing: 1px;
}

.art-cont-00 #li-top {
    margin-top: 20%;
}

.art-cont-00 img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 2%;
}

@media only screen and (max-width:1030px) {
    #d-cont {
        height: 700px;
    }

    .art-cont-00 {
        height: 700px;
    }
}

@media only screen and (max-width:940px) {
    #d-cont {
        height: 700px;
    }

    .art-cont-00 {
        height: 700px;
    }
}

@media only screen and (max-width:850px) {
    .art-cont-00 li {
        margin-left: 5%;
    }
}

@media only screen and (max-width:760px) {
    main {
        height: 1300px;
    }
    #d-cont {
        height: 1300px;
        background-color:#fff
    }

    #id-cont-01 {
        height: 650px
    }

    #d-cont-02 {
        height: 650px;
    }

    .art-cont-00 li {
        text-align: center;
        width: 100%;
        margin-left: 0%;
    }

    .art-cont-00 {
        float: none;
        width: 100%;
    }

    .art-cont-00 .li-cont-tittle {
        padding-top: 5%;
        margin-left: 10%;
        width: 80%;
    }

    .art-cont-00 #li-top {
        margin-top: 0%;
        padding-top: 5%;
    }

    .art-cont-00 .li-cont-subtittle {
        margin-top: 5%;
    }

    .art-cont-00 .li-cont-date {
        width: 80%;
        margin-left: 10%;
    }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    #d-01 {
        height: 800px;
    }
    
    #d-01 h1 {
        font-size: 80px;
      line-height: 70px;
        margin-top: 29%;
        margin-left: 7%;
    }
    
    #d-01 p {
        font-size: 35px;
    }
    
    #d-01 button {
        line-height: 80px;
        font-size: 33px;
        width: 30%;
    }
    /*   */
    #main-sec02 {
        height: 750px;
    }
    
    #main-sec02 h2 {
        font-size: 60px;
        line-height: 5  0px;
    }
    
    #main-sec02 li {
        list-style: none;
        font-size: 35px;
    }
    
    #main-sec02 p {
        font-size: 30px;
    }
    /* */
    main{
        height: 2200px;
    }
    #d-cont {
        height: 2200px;
        background-color: #fff;
    }

    .art-cont-00 li {
        text-align: center;
        width: 100%;
        margin-left: 0%;
    }

    .art-cont-00 {
        float: none;
        width: 100%;
        height: 1100px;
        margin-top: 0%;
    }

    .art-cont-00 .li-cont-tittle {
        padding-top: 5%;
        margin-left: 10%;
        width: 80%;
        font-size: 90px;
        line-height: 100px;
    }

    .art-cont-00 #li-top {
        margin-top: 0%;
        padding-top: 5%;
    }

    .art-cont-00 .li-cont-subtittle {
        margin-top: 5%;
        font-size: 60px;
    }

    .art-cont-00 .li-cont-date {
        width: 80%;
        margin-left: 10%;
        font-size: 40px;
        line-height: 60px;
    }
    .art-cont-00 .li-cont-datess {
        width: 80%;
        margin-left: 10%;
        font-size: 40px;
        line-height: 60px;
    }

    .art-cont-00 img {
        width: 50px;
        height: 50px;
    }

}

